
#Created by Constraints Editor (xc7a100t-csg324-3) - 2016/03/02
NET "clk" TNM_NET = "clk";
TIMESPEC TS_clk = PERIOD "clk" 20 ns HIGH 50 %;


NET "i2c_scl" LOC = B13 | IOSTANDARD = LVCMOS33;
NET "i2si_sck" LOC = V11 | IOSTANDARD = LVCMOS33;
NET "i2si_ws" LOC = V15 | IOSTANDARD = LVCMOS33;
NET "i2si_sd" LOC = K16 | IOSTANDARD = LVCMOS33;
NET "i2so_sck" LOC = R16 | IOSTANDARD = LVCMOS33;
NET "i2so_ws" LOC = T9 | IOSTANDARD = LVCMOS33;
NET "i2so_sd" LOC = U11 | IOSTANDARD = LVCMOS33;
NET "rst_n" LOC = P15 | IOSTANDARD = LVCMOS33;
NET "i2c_addr_bits[2]" LOC = D18 | IOSTANDARD = LVCMOS33;
NET "i2c_addr_bits[1]" LOC = C17 | IOSTANDARD = LVCMOS33;
NET "i2c_addr_bits[0]" LOC = G13 | IOSTANDARD = LVCMOS33;
NET "clk" LOC = E3 | IOSTANDARD = LVCMOS33;
NET "i2c_sda" LOC = F14 | IOSTANDARD = LVCMOS33;
